body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffOOO);
  color: #red;
  text-align: left;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: rgba(0, 191, 255, 0.25);
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 25px;
}

#quote {
  font-size: 23px;
  margin: 20px 0;
  min-height: 60px;
}

button {
